*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  @include fontStyle(1.5rem, 1.6666, normal, $color-dim-grey, 700);
}

img {
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $body-bg;
}

.container {
  width: 100%;
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  // position: relative;
  @include responsive(tablet) {
    padding-left: 39px;
    padding-right: 36px;
  }
}
